# Environnement
.venv/
__pycache__/
*.pyc

# Données (trop volumineuses pour Git)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Modèles entraînés
models/*.pkl
models/*.joblib
models/*.txt
!models/.gitkeep

# Notebooks
.ipynb_checkpoints/

# Kaggle credentials (ne JAMAIS committer)
kaggle.json

# MLflow
mlruns/
mlflow.db
mlartifacts/

# IDE / OS
.vscode/
.idea/
.claude/
.DS_Store
Thumbs.db
